*{
     font-family: "Roboto", sans-serif;
   
     
}

h1,
h2,
h3 {
     font-family: "Bebas Neue", sans-serif;
}


#button:hover{
cursor: pointer;
box-shadow: 2px 2px 2px 2px rgb(1, 2, 2);     
} 